<%=render "/partials/css"%>
<%=render "/partials/navbar"%>
<body>
<div>
<h1>HOMEPAGE</h1>
<br>
<label><ins>Problème : </ins></label><br>
<img src="assets/spam.png" alt="illustration">
<br><br>
<hr style="width:35%; margin:auto;">
<label><ins>Solution : </ins></label><br>
<img src="assets/warmup.png" alt="illustration">
<br><br>
<hr style="width:35%; margin:auto">
<label><ins>Résultat : </ins></label><br>
<img src="assets/reputation.png" alt="illustration">
<br>
<hr style="width:35%; margin:auto">
<br>
<%= button_to 'informations', '/homepage/help', method: :get , class: "btn btn-outline-dark mt-1"%><br>
<%= button_to 'liste des adresses à chauffer', adresses_path, method: :get , class: "btn btn-outline-dark mb-3"%>
</div>
</body>