<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 

<!--additional CSS--->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
}

body{
    font-family: 'Poppins', sans-serif;
}

.mr-top1{
  margin-top: 10px;
}

.mr-top2{
  margin-top: 20px;
}

.mr-top35{
  margin-top: 35px;
}

.max-w600{
  max-width: 650px;
}

.listGroupe1{
  background-color: #fafafa;
  max-width: 600px;
  padding: 8px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.listGroupe2{
  background-color: #fafafa;
  max-width: 600px;
  padding: 8px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.navbar{
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 8px;
}

.btn-navbar{
  padding: 15px;
}

.formImap{
  background-color: #fafafa;
  margin-top:3%;
  max-width: 450px;
  max-height: 410px;
  padding: 8px;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.formAddress{
  background-color: #fafafa;
  margin-top:3%;
  max-width: 450px;
  max-height: 1200px;
  padding: 8px;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.imapStats{
  background-color: #fafafa;
  margin-top:35px;
  max-width: 700px;
  max-height: 400px;
  padding: 8px;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.addressStats{
  background-color: #fafafa;
  margin-top:35px;
  max-width: 900px;
  max-height: 400px;
  padding: 8px;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.form-simple{
  width: 300px;
  text-align: center;
}

.warning-message{
  background-color: #DEA6A8;
  margin-top: 30px;
  max-width: 700px;
  max-height: 130px;
  padding: 8px;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.addressShow{
  background-color: #fafafa;
  margin-top:3%;
  max-width: 500px;
  max-height: 400px;
  padding: 8px;
  width: 90%;
  height: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

.listGroup3{
  background-color: #fafafa;
  margin-top:30px;
  max-width: 550px;
  padding: 8px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}

/*, style:"border-radius: 0px; border: 1; border-color: rgb(181, 197, 223); padding: 10px; background-color: rgb(207, 226, 255) #{"background-color: rgb(248, 215, 218); border-color: rgb(217, 188, 190)" if !adresse.isValid}"*/

</style>