<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">IP Warm-Up</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= button_to 'Home', '/', method: :get, class: "btn btn-outline-light me-2 btn-navbar" %>
      </li>
      <li class="nav-item">
        <%= button_to 'Warm-Up', adresses_path, method: :get, class: "btn btn-outline-light me-2 btn-navbar" %>
      </li>
      <li class="nav-item">
        <%= button_to "Statistiques", '/homepage/help', method: :get, class: "btn btn-outline-light me-2 btn-navbar"%>
      </li>
    </ul>
  </div>
</nav>