<style>
#inbox{
    color:green;
}
#inspam{
    color:orange;
}
#starred{
    color:blue;
}
</style>

<!--définit les dossier IMPORTANT et SPAM pour les différentes boites mails-->
<%
spamFolder = ""
importantFolder = ""
case @imap.label
when "Gmail"
    spamFolder = "[#{@imap.label}]/Spam"
    importantFolder = "Starred"
when "Yahoo"
    spamFolder = "Bulk Mail"
    importantFolder = "Important"
when "AOL"
    spamFolder = "Bulk Mail"
    importantFolder = "Important"
when "Outlook"
    spamFolder = "Junk"
    importantFolder = "Important"
else
    spamFolder = "[#{@imap.label}]/Spam"
    importantFolder = "Important"
end
%>

<!--Connection à l'adresse IMAP-->
<%@imapAccess = Net::IMAP.new(@imap.servimap, 993, true)%>
<%@imapAccess.login(@imap.login, @imap.password)%>
<%if not @imapAccess.list("[#{@imap.label}]/", importantFolder)%>
  <%@imapAccess.create("[#{@imap.label}]/#{importantFolder}")%>
<%end%>

<!--Affiche la liste des dossiers de la boite mail si le mode Dev est activé-->
<br><%#=@imapAccess.list('', '*')%><br>

<!--Affichage des mails du dossier IMPORTANT-->
<%@imapAccess.select("[#{@imap.label}]/#{importantFolder}")%>
<ul>
<%@imapAccess.search(["SINCE", "30-May-2021"]).each do |message_id|%>
    <%@imapAccess.store(message_id, "+FLAGS", [:Seen])%>
    <%@imapAccess.store(message_id, "+FLAGS", [:Seen])%>
    <%if @imapAccess.fetch(message_id, "ENVELOPE") != nil%>
        <%important = @imapAccess.fetch(message_id, "ENVELOPE")[0].attr["ENVELOPE"]%>
        <%if important.subject == nil%>
            <li id=starred><%=" IMPORTANT : " + important.from[0].mailbox + " : No subject"%></li>
        <%else%>
            <li id=starred><%=" IMPORTANT : " + important.from[0].mailbox + " : " + important.subject%></li>
        <%end%>
    <%end%>
<%end%>

<!--parcours de la boite de réception, déplace les mails des adresses à chauffer dans IMPORTANT et affichage des mails-->
<%@imapAccess.select('INBOX')%>
<%@imapAccess.search(["SINCE", "30-May-2021"]).each do |message_id|%>
    <%unless @imapAccess.fetch(message_id, "ENVELOPE") == nil%>
        <%envelope = @imapAccess.fetch(message_id, "ENVELOPE")[0].attr["ENVELOPE"]%>
        <%if envelope.subject == nil%>
            <li id=inbox><%=" INBOX : " + envelope.from[0].mailbox + " : No subject"%></li>
        <%else%>
            <li id=inbox><%=" INBOX : " + envelope.from[0].mailbox + " : " + envelope.subject%></li>
        <%end%>
        <%@adresses.each do |email|%>
            <%@imapAccess.search(["FROM", email.email]).each do |message_id|%>
                <%@imapAccess.copy(message_id, "[#{@imap.label}]/#{importantFolder}")%>
                <%@imapAccess.store(message_id, "+FLAGS", [:Deleted])%>
            <%end%>
        <%end%>
    <%end%>
<%end%>

<!--parcours des spams, déplace les mails des adresses à chauffer dans IMPORTANT et affichage des mails-->
<%@imapAccess.select(spamFolder)%>
<%@imapAccess.search(["SINCE", "30-May-2021"]).each do |message_id|%>
    <%unless @imapAccess.fetch(message_id, "ENVELOPE") == nil%>
        <%spam = @imapAccess.fetch(message_id, "ENVELOPE")[0].attr["ENVELOPE"]%>
        <%if spam.subject == nil%>
            <li id=inspam><%=" IN SPAM : " + spam.from[0].mailbox + " : No subject"%></li>
        <%else%>
            <li id=inspam><%=" IN SPAM : " + spam.from[0].mailbox + " : " + spam.subject%></li>
        <%end%>
        <%@adresses.each do |email|%>
            <%@imapAccess.search(["FROM", email.email]).each do |message_id|%>
                <%@imapAccess.copy(message_id, "[#{@imap.label}]/#{importantFolder}")%>
                <%@imapAccess.store(message_id, "+FLAGS", [:Deleted])%>
            <%end%>
        <%end%>
    <%end%> 
<%end%>
<%@imapAccess.disconnect%>
</ul>

<!--Actualise la page toutes les 20s-->
<script>
    window.setInterval('refresh()', 20000);

    function refresh() {
        window .location.reload();
    }
</script>