<%= form_with model: @imap do |form| %>
  <div class="form-group ">
    <%= form.select:label, ['Gmail', 'Yahoo', 'AOL', 'Outlook']%>
    <% @imap.errors.full_messages_for(:label).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.email_field :login, placeholder:"Adresse email", class: "form-simple", style:"margin-top: 10px"%><br>
    <% @imap.errors.full_messages_for(:login).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.text_field :password, placeholder:"Mot de passe", class: "form-simple"%><br>
    <% @imap.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.text_field :servimap, placeholder:"Serveur IMAP", class: "form-simple", style:"margin-bottom: 10px"%><br>
    <% @imap.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.select:isActive, ['active', 'inactive'], selected: "#{@imap.isActive}"%>
    <% @imap.errors.full_messages_for(:isActive).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit 'Upload', :class => "btn btn-outline-primary", style: "margin-top: 10px"%>
  </div>
<%end%>