<%=render "/partials/css"%>
<%=render "/partials/navbar"%>
<style>
.delete_button{
    background-color: red;
    color: white;
}

#inbox{
    color:green
}
#spam{
    color:orange
}
#important{
    color:blue
}
</style>
<body>

<%if !@imap.isValid%>
    <div class="container warning-message">
        <p><strong class=warning>Connection au serveur mail impossible, cela peut être du à la connection, ou au mauvais renseignement des données demandées ci-dessous</strong></p>
        <p><strong class=warning>L'adresse est donc comptée comme invalide et ne recevra donc aucun mail tant qu'elle ne sera pas corrigée</strong></p>
    </div>
<%end%>


<div class="container formImap">
<h1>Editer l'adresse réceptrice</h1>

<%= render "form", imap: @imap%>
<%= button_to "Supprimer l'adresse", imap_path(@imap),
                  method: :delete,
                  data: { confirm: "Êtes-vous sûr de vouloir supprimer?" }, 
                  class:"btn btn-outline-danger",
                  style: "margin-top: 35px"%><br><br>
</div>

<!--met à 0 si les compteurs sont nul-->
<%
if @imap.inboxCount == nil
    @imap.update!(inboxCount: 0)
end
if @imap.spamCount == nil
    @imap.update!(spamCount: 0)
end
if @imap.importantCount == nil
    @imap.update!(importantCount: 0)
end
%>

<!--affiche les stats en %-->
<%if @imap.importantCount != 0%>
    <div class="container imapStats">
    <strong id="inbox"><%=(@imap.inboxCount.to_f * 100 / @imap.importantCount.to_f).round(0).to_s%>% (<%=@imap.inboxCount.to_s%>) des mails importants sont arrivés dans la boite de réception</strong><br>
    <strong id="spam"><%=(@imap.spamCount.to_f * 100 / @imap.importantCount.to_f).round(0).to_s%>% (<%=@imap.spamCount.to_s%>) des mails importants sont arrivés dans les spams</strong><br>
    <strong id="important"><%=(@imap.importantCount.to_f * 100 / @imap.importantCount.to_f).round(0).to_s%>% (<%=@imap.importantCount.to_s%>) des mails à trier ont été déplacés dans le dossier important</strong><br>
    </div><br>
<%else%>
    <p style="margin-top: 20px"><strong>Cette adresse n'a pas encore traité de mail</strong></p>
<%end%>
<%= button_to 'Retour', 'javascript:history.back()', method: :get, class: "btn btn-outline-dark retour"%>
</body>