<%=render "/partials/css"%>
<%=render "/partials/navbar"%>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<h1>Liste des adresses IMAP</h1>
<div class="container col-sm-3 list-group">
  <% @imaps.each do |imap| %>
      <%= link_to imap.login, imap, 
          target: :same_as_the_view,
          class: "list-group-item list-group-item-ation #{"list-group-item-danger" if imap.isActive == "inactive"}"%>
  <% end %>
</div>
<%= link_to "Nouvelle adresse IMAP", new_imap_path %><br>
<%= link_to "Retour", '/' %>
</body>