<%=render "/partials/css"%>
<%=render "/partials/navbar"%>
<body>
<div class="container formImap">
    <h1>Nouvelle adresse IMAP</h1>
    <%=render '/imaps/form'%>
</div>
<%= button_to 'Retour', 'javascript:history.back()', method: :get, class: "btn btn-outline-dark retour", style:"margin-top: 20px"%>
</body>