<%=render "/partials/css"%>
<%=render "/partials/navbar"%>
<style>
#inbox{
    color:green
}
#spam{
    color:orange
}
#important{
    color:blue
}
</style>

<!--CETTE PAGE EST INUTILE ET EST DEVENUE INACCESSIBLE SUR LE SITE--->
<!--CERTAINES DE SES FONCTIONALITES ONT ETE DEPLACEE SUR LA PAGE IMAP EDIT--->

<!--affiche toutes les infos de l'adresse IMAP-->
<body>
<h1>Informations :</h1>
<div class="container col-sm-2">
<ul class="list-group">
<li class="list-group-item">boite mail : <%= @imap.label %></li>
<li class="list-group-item">login : <%= @imap.login%></li>
<li class="list-group-item">mot de passe : <%= @imap.password%></li>
</ul>
</div>
<br>

<h2>Statistiques de l'adresse <%=@imap.login%>:</h2><br>

<!--affiche les stats en %-->
<%if @imap.importantCount != 0%>
    <div>
    <strong id="inbox"><%=(@imap.inboxCount.to_f * 100 / @imap.importantCount.to_f).round(0).to_s%>% des mails importants sont arrivés dans la boite de réception</strong><br>
    <strong id="spam"><%=(@imap.spamCount.to_f * 100 / @imap.importantCount.to_f).round(0).to_s%>% des mails importants sont arrivés dans les spams</strong><br>
    </div><br>
<%end%>

<button id=button1 class="btn btn-dark" onclick="showMore()">Voir plus</button><br><br>

<div id="showMore">
<!-- <strong>Cette adresse compte <%=@imap.repCount.to_s%> réponses envoyées</strong><br> -->
<strong id="inbox"><%=@imap.inboxCount.to_s%> mails à trier sont arrivés dans la boite de récption</strong><br>
<strong id="spam"><%=@imap.spamCount.to_s%> mails à trier sont arrivés dans spam</strong><br>
<strong id="important"><%=@imap.importantCount.to_s%> mails à trier ont été déplacés dans important</strong><br>
<br>
</div>
</body>

<!--définit les dossier IMPORTANT et SPAM pour les différentes boites mails, connecte en SMTP les boites mails autre que Gmail-->
<%
spamFolder = ""
importantFolder = ""
case @imap.label
    when "Gmail"
        spamFolder = "[#{@imap.label}]/Spam"
        importantFolder = "Starred"

        #paramètres SMTP pour action mailer
        delivery_options = { port: 587,
          user_name: @imap.login,
          password: @imap.password,
          address: 'smtp.gmail.com',
          enable_starttls_auto: true,
          authentication: 'plain' }

        #serveur IMAP
        servimap = 'imap.gmail.com'

    when "Yahoo"
        spamFolder = "Bulk Mail"
        importantFolder = "Important"

        delivery_options = { port: 587,
          user_name: @imap.login,
          password: @imap.password,
          address: 'smtp.mail.yahoo.com',
          enable_starttls_auto: false,
          authentication: 'plain' }

        servimap = 'imap.mail.yahoo.com'

    when "AOL"
        spamFolder = "Bulk Mail"
        importantFolder = "Important"

        delivery_options = { port: 587,
          user_name: @imap.login,
          password: @imap.password,
          address: 'smtp.aol.com',
          enable_starttls_auto: false,
          authentication: 'plain' }

        servimap = 'imap.aol.com'

    when "Outlook"
        spamFolder = "Junk"
        importantFolder = "Important"

        delivery_options = { port: 587,
          user_name: @imap.login,
          password: @imap.password,
          address: 'smtp.office365.com',
          enable_starttls_auto: true,
          authentication: 'login' }

        servimap = 'outlook.office365.com'

    when "Free"
        spamFolder = "Junk"
        importantFolder = "Important"

        #paramètres SMTP pour action mailer
        delivery_options = { port: 587,
          user_name: @imap.login,
          password: @imap.password,
          address: 'smtp.free.fr',
          enable_starttls_auto: true,
          authentication: 'plain' }
    else
        spamFolder = "[#{imap.label}]/Spam"
        importantFolder = "Important"
    end
%>

<!--Connection en IMAP-->
<%@imapAccess = Net::IMAP.new(servimap, 993, true)
  @imapAccess.login(@imap.login, @imap.password)%>

<%begin%>
<!--Lis et affiche les mails du dossier IMPORTANT-->
<div class="col-sm-5 container">
<ul class="list-group">
<%@imapAccess.select("[#{@imap.label}]/#{importantFolder}")%>
<%@imapAccess.search(["SINCE", "#{rand(1..30)}-May-#{rand(2010..2021)}"]).each do |message|%>
    <%if @imapAccess.fetch(message, "ENVELOPE") != nil%>
        <%important = @imapAccess.fetch(message, "ENVELOPE")[0].attr["ENVELOPE"]%>
        <%if important.subject == nil%>
            <li class="list-group-item list-group-item-primary"><%=" IMPORTANT : " + important.from[0].mailbox + " : No subject"%></li>
        <%else%>
            <li class="list-group-item list-group-item-primary"><%=" IMPORTANT : " + important.from[0].mailbox + " : " + important.subject%></li>
        <%end%>
    <%else%>
        <li id=erreur class="list-group-item list-group-item-danger"><%=" ERREUR : Il y a eu un problème"%></li>
    <%end%>
<%end%>

<!--parcours de la boite de récéption et affichage des mails-->
<%@imapAccess.select('INBOX')%>
<%@imapAccess.search(["SINCE", "#{rand(1..30)}-May-#{rand(2010..2021)}"]).each do |message|%>
    <%unless @imapAccess.fetch(message, "ENVELOPE") == nil%>
        <%envelope = @imapAccess.fetch(message, "ENVELOPE")[0].attr["ENVELOPE"]%>
        <%if envelope.subject == nil%>
            <li class="list-group-item list-group-item-secondary"><%=" INBOX : " + envelope.from[0].mailbox + " : No subject"%></li>
        <%else%>
            <li class="list-group-item list-group-item-secondary"><%=" INBOX : " + envelope.from[0].mailbox + " : " + envelope.subject%></li>
        <%end%>
    <%else%>
        <li class="list-group-item list-group-item-danger"><%=" ERREUR : Il y a eu un problème"%></li>
    <%end%>
<%end%>

<!--parcours des spams et affichage des mails-->
<%@imapAccess.select(spamFolder)%>
<%@imapAccess.search(["SINCE", "#{rand(1..30)}-May-#{rand(2010..2021)}"]).each do |message|%>
    <%unless @imapAccess.fetch(message, "ENVELOPE") == nil%>
        <%spam = @imapAccess.fetch(message, "ENVELOPE")[0].attr["ENVELOPE"]%>
        <%if spam.subject == nil%>
            <li class="list-group-item list-group-item-warning"><%=" IN SPAM : " + spam.from[0].mailbox + " : No subject"%></li>
        <%else%>
            <li class="list-group-item list-group-item-warning"><%=" IN SPAM : " + spam.from[0].mailbox + " : " + spam.subject%></li>
        <%end%>
    <%else%>
        <li id=erreur class="list-group-item list-group-item-danger"><%=" ERREUR : Il y a eu un problème"%></li>
    <%end%>
<%end%>
</ul>
</div>
<body>
<br>
<!--Liens vers Edit, Destroy, Retour-->
<%= link_to "Edit", edit_imap_path(@imap) %><br>
<%= link_to "Destroy", imap_path(@imap),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %><br><br>
<%= link_to "Retour", '/imaps' %>
<br><br>
<button id=button2 class="btn btn-dark" onclick="showhide()">Voir les dossiers</button>

<!--Affiche la liste des dossiers de la boite mail-->
<br><br><p id=list><%=@imapAccess.list('', '*')%></p><br>
</body>

<%ensure%>
<%@imapAccess.disconnect%>
<%end%>

<script>
    document.getElementById("list").style.display = "none";
    document.getElementById("showMore").style.display = "none";
    
    //actualise la page toutes les 2min
    window.setInterval('refresh()', 120000);

    function refresh() {
        window .location.reload();
    }

    //affiche ou cache les listes
    function showhide()
    {
         var list = document.getElementById("list");
         var button = document.getElementById("button2")


        if (list.style.display == "none") {
            list.style.display = "block";
            button.innerHTML = "Masquer les dossiers"
        } else {
            list.style.display = "none";
            button.innerHTML = "Voir les dossiers"
        }
    }

    function showMore()
    {
         var list = document.getElementById("showMore");
         var button = document.getElementById("button1")

        if (list.style.display == "none") {
            list.style.display = "block";
            button.innerHTML = "Voir moins"
        } else {
            list.style.display = "none";
            button.innerHTML = "Voir plus"
        }
    }
</script>