<%= form_with model: @adress do |form| %>

  <div class="form-group">
    <%= form.text_field :servsmtp, placeholder:"Serveur SMTP", class: "form-simple"%><br>
    <% @adress.errors.full_messages_for(:servsmtp).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.text_field :port, placeholder:"Port", class: "form-simple"%><br>
    <% @adress.errors.full_messages_for(:port).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.text_field :domain, placeholder:"Domaine", class: "form-simple"%><br>
    <% @adress.errors.full_messages_for(:domain).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div class="form-group">
    <%=form.label "authentication : "%><br>
    <%= form.select:authentication, ['plain', 'login', 'cram-md5']%>
    <% @adress.errors.full_messages_for(:authentication,).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%=form.label "startTLS : "%><br>
    <%= form.select:starttls, ['true', 'false']%>
    <% @adress.errors.full_messages_for(:starttls,).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.email_field :email, placeholder:"Adresse email", class: "form-simple", style: "margin-top: 10px"%><br>
    <% @adress.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.text_field :password, placeholder:"Mot de passe", class: "form-simple"%><br>
    <% @adress.errors.full_messages_for(:password).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Upload", class: "btn btn-outline-primary", style: "margin-top: 10px"%>
  </div>
<%end%>