<%=render "/partials/css"%>
<%=render "/partials/navbar"%>
<body>
<%if !@adress.isValid%>
    <div class="container warning-message">
        <p><strong class=warning>Connection au serveur mail impossible, cela peut être du à la connection, ou au mauvais renseignement des données demandées ci-dessous</strong></p>
        <p><strong class=warning>L'adresse est donc comptée comme invalide et ne recevra donc aucun mail tant qu'elle ne sera pas corrigée</strong></p>
    </div>
<%end%>

<div class="container formAddress">
<h1>Editer l'adresse</h1>
<%= render "/adresses/form", adress: @adress%>
<%=button_to "supprimer", adress_path(@adress),
    method: :delete,
    data: { confirm: "Êtes-vous sûr de vouloir supprimer?" }, 
    class:"btn btn-outline-danger",
    style: "margin-top: 30px"%>
</div>

<div class="container addressStats">
  <strong>-Cette adresse a déja envoyée <%=@adress.mailCount.to_s%> mails</strong><br>
  <br>
  <%if @adress.sendHour != nil and @adress.nextHour != nil %>
    <%nextHour = Time.now.advance(hours: 1).hour%>
    <%if nextHour == 24
        nextHour.to_s = "00"
      end%>
    <strong>-Cette adresse a distribué ses mails de <%=Time.now.hour%>h, elle en renverra à <%=nextHour%>h si cette page est ouverte</strong>
    <br>
  <%end%>
  <br>
  <strong>-Cette adresse envoie <%=@adress.hourlyLimit%> mails par heure par adresse réceptrice active, soit <%=@adress.hourlyLimit * @activeImaps.length%> mails par heure</strong>
</div>
<%= button_to 'Retour', 'javascript:history.back()', method: :get, class: "btn btn-outline-dark retour", style: "margin-top: 20px"%>
</body>
<%=render "/partials/footer"%>