<%=render "/partials/css"%>
<%=render "/partials/navbar"%>

<!--affiche les adresses à chauffer-->
<body>
<div class="row">
<div class="container listGroupe1 list-group col mr-3" style="margin-top:5%; margin-left:15%">
<h1>Liste des adresses à chauffer</h1>
<h5>Cliquer sur une des adresses suivantes déclanchera directement le processus de warm-up, les informations de la session d'envoies pourront être consultées sur le terminal du serveur</h5>
  <% @adresses.each do |adresse| %>
  <%adresse.mailCount = 0 if adresse.mailCount == nil%>
  <div class="d-flex">
      <%= link_to "#{adresse.email} (#{adresse.mailCount} mails)", adresse, class: "list-group-item list-group-item-action list-group-item-primary max-w600 #{"list-group-item-danger max-w600" unless adresse.isValid}"%>
      <%=button_to "edit", edit_adress_path(adresse), method: :get, style: "border-radius : 1px; padding: 10px; border-color: rgb(188, 199, 216)", class: "btn btn-outline-secondary"%>
  </div>
  <% end %>
<%= button_to "Nouvelle adresse à chauffer", new_adress_path, method: :get, style: "margin-top: 32px", class:"btn btn-outline-primary"%>
</div>
<!--affiche les adresses réceptrices en 3 groupes (active, inactive, invalide)-->
<div class="container listGroupe2  col" style="margin-top:5%; margin-right:15%">
  <h1>Liste des adresses réceptrices</h1>

  <%active = []
    inactive = []
    invalid = []

    @imaps.each do |imap|
      if !imap.isValid
        invalid.push(imap)
        next
      end
      if imap.isActive == "active"
        active.push(imap)
        next
      end
      if imap.isActive == "inactive"
        inactive.push(imap)
        next
      end
    end
  %>

  <div class="list-group">
    <% active.each do |imap| %>
        <%= link_to imap.login, edit_imap_path(imap), class: "list-group-item list-group-item-action list-group-item-primary"%>
    <% end %>
    <% inactive.each do |imap| %>
        <%= link_to imap.login, edit_imap_path(imap), class: "list-group-item list-group-item-action list-group-item-warning"%>
    <% end %>
    <% invalid.each do |imap| %>
        <%= link_to imap.login, edit_imap_path(imap), class: "list-group-item list-group-item-action list-group-item-danger"%>
    <% end %>
  </div>
  <%= button_to "Nouvelle adresse réceptrice", new_imap_path, method: :get, class:"btn btn-outline-primary", style: "margin-top: 32px" %><br>
</div>
</div>

</body>

<script>
    //actualise la page toutes les 10s
    window.setInterval('refresh()', 10000);

    function refresh() {
        window .location.reload();
    }
</script>