<%=render "/partials/css"%>
<%=render "/partials/navbar"%>
<body>
<div class="container formAddress">
    <h1>Nouvelle adresse à chauffer</h1>
    <%=render '/adresses/form'%>
</div>
<%= button_to 'Retour', 'javascript:history.back()', method: :get, class: "btn btn-outline-dark retour", style:"margin-top: 20px"%>
</body>