<%=render "/partials/css"%>
<%=render "/partials/navbar"%>

<body>

<%if !@adress.isValid%>
    <div class="container warning-message">
        <p><strong class=warning>Connection au serveur mail impossible, cela peut être du à la connection, ou au mauvais renseignement des données demandées ci-dessous</strong></p>
        <p><strong class=warning>L'adresse est donc comptée comme invalide et n'enverra donc aucun mail tant qu'elle ne sera pas corrigée</strong></p>
    </div>
<%end%>

<div class="container addressShow">
  <h1>Informations :</h1>

  <ul class="list-group">
  <li class="list-group-item"><%= @adress.servsmtp %></li>
  <li class="list-group-item"><%= @adress.email %></li>
  <li class="list-group-item"><%= @adress.password %></li>

  </ul>

  <%= button_to "Edit", edit_adress_path(@adress), method: :get, class: "btn btn-outline-primary", style:"margin-top: 10px"%>
  <%= button_to "Supprimer", adress_path(@adress),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "btn btn-outline-danger",
                    style: "margin-top: 35px"%>
</div>

<div class="container addressStats">
  <strong>-Cette adresse a déja envoyée <%=@adress.mailCount.to_s%> mails</strong><br>
  <br>
  <%if @adress.sendHour != nil and @adress.nextHour != nil %>
    <%nextHour = Time.now.advance(hours: 1).hour%>
    <%if nextHour == 24
        nextHour.to_s = "00"
      end%>
    <strong>-Cette adresse a distribué ses mails de <%=Time.now.hour%>h, elle en renverra à <%=nextHour%>h si cette page est ouverte</strong>
    <br>
  <%end%>
  <br>
  <strong>-Cette adresse envoie <%=@adress.hourlyLimit%> mails par heure par adresse réceptrice active, soit <%=@adress.hourlyLimit * @activeImaps.length%> mails par heure</strong>
</div>

<div class="container listGroup3">
<h3>Liste des adresses réceptrices actives:</h3>
<div class="list-group">
  <% @activeImaps.each do |imap| %>
  <div class="d-flex">
      <%= link_to imap.login, edit_imap_path(imap), class: "list-group-item list-group-item-action list-group-item-primary #{"list-group-item-secondary" if imap.isActive == "inactive"} #{'list-group-item-danger' unless imap.isValid}"%>
  </div>    
  <% end %>
</div>
</div>

<%= button_to "Retour", 'javascript:history.back()', method: :get, class:"btn btn-outline-dark mr-top2" %>
</body>

<script>
    //actualise la page toutes les minutes
    window.setInterval('refresh()', 60000);

    function refresh() {
        window .location.reload();
    }
</script>